<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Chess Studio</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ChessStudio144</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PGN</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>giordano.vicoli.pgn</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-j96euysec3e8ye7</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>verfigb.ttf</string>
		<string>verfigi.ttf</string>
		<string>verfig.ttf</string>
		<string>Semfign_0.ttf</string>
		<string>Semfigi_1.ttf</string>
		<string>Semfigb_1.ttf</string>
		<string>MERIFONT.TTF</string>
		<string>LinaresDiagram.TTF</string>
		<string>linares.ttf</string>
		<string>LEIPFONT.TTF</string>
		<string>FIGGB_.TTF</string>
		<string>FIGGN_.TTF</string>
		<string>DIALAST.TTF</string>
		<string>IS-TT-01.TTF</string>
		<string>FIGGI_.TTF</string>
		<string>MFuturis-ItalicCyrillic.ttf</string>
		<string>FuturisDemiBold.ttf</string>
		<string>INFDIAGRAM.ttf</string>
		<string>InformAccents-Flght-Italic.ttf</string>
		<string>InformAccentsFXbld.ttf</string>
		<string>Informator-Times-Bold.ttf</string>
		<string>Informator-Times-Italic.ttf</string>
		<string>Informator-Times-Roman.ttf</string>
		<string>PT-FuturisExtraBoldCyrillicA.ttf</string>
		<string>PT-NewtonBoldItalicCyrillicA.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen Lite</string>
	<key>UIMainStoryboardFile</key>
	<string>MainSWReveal</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainSWReveal</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>pgn</string>
			<key>UTTypeIdentifier</key>
			<string>giordano.vicoli.pgn</string>
			<key>UTTypeSize320IconFile</key>
			<string>ChessStudio144</string>
			<key>UTTypeSize64IconFile</key>
			<string>ChessStudio57</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>pgn</string>
				<key>public.mime-type</key>
				<string>application/x-chess-pgn</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
